.login {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.login-google-button {
    font-size: 16px;
    font-weight: bold;
}