.login {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.login-google-button {
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
}
